:root {
    --primary-orange: #D97706;
    --text-dark: #2d2d2d;
    --text-light: #666;
    --bg-light: #fdfdfd;
    --white: #ffffff;
}


body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-light);
    color: var(--text-dark);
    margin: 0;
    line-height: 1.6;
}


* {
    box-sizing: border-box;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2%;
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-text{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.5px
}

.habit-part{
    color: var(--text-dark);
}

.flow-part{
    color: var(--primary-orange);
}

.logo-container img{
    height: 32px;
    width: auto;
    display: block;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
}

.nav-list a{
    text-decoration: none;
    color: var(--text-light);
    font-weight: 500;
}

.dashboard-hero{
    text-align: left;
    padding: 20px 8%;
}

.hero-title{
    font-size: 2rem;
    color: var(--text-dark);
    margin-bottom: 2px;
}

.hero-subtitle{
    font-size: 1rem;
    color: var(--text-light);
    margin-top: 2px;
}

.stats-container{
    display: flex;
    gap: 24px;
    padding: 20px 2%;
    justify-content: center;
    flex-wrap: wrap;
}

.stat-card{
    background-color: var(--bg-light);
    border-radius: 15px;
    border-color:#f0f0f0;
    border-style: solid;
    box-shadow:0 4px 12px rgba(0,0,0,0.05);
    padding: 20px; 
    width: 250px;
    height: 130px;
    display: flex;     
    flex-direction: column;
    justify-content: space-between;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-label{
    font-size: 0.9rem;
    font-weight: 700 ;
    color: var(--text-light);
    letter-spacing: 0.5px;
}

.card-icon{
    width: 20px;
    height: 20px;
    color: var(--text-light);
}

.card-number{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-dark);
    align-self: flex-start;
}

.active-card{
    background-color:var(--primary-orange);
    border: none;
    color: var(--white);
}

.streak-color{
    color:var(--primary-orange) ;
}

.charts-row{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px 2%;
    flex-wrap: wrap;

}

.chart-box{
    background-color: var(--white);
    border-radius: 15px;
    border-color:#f0f0f0;
    border-style: solid;
    box-shadow:0 4px 12px rgba(0,0,0,0.05);
    padding: 20px ;
    padding-top: 10px;
    height: 400px;
    width: 525px;
    display: flex;
    flex-direction: column;
}

.chart-title{
    color: var(--text-dark);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: left;
}

.chart-display{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.chart-display img{
    width: auto;
    max-width: 95%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.mainfooter{
    text-align: center;
    padding: 20px 20px;
    color: var(--text-light);
    font-size: 0.9rem;       
    border-top: 1px solid #eeeeee;  
    margin-top: 20px;
}

.hamburger {
    display: none;            
    cursor: pointer;          
    background: none;       
    border: none;             
    padding: 0;               
    z-index: 10;              
}

.hamburger span {
    display: block;          
    width: 25px;              
    height: 3px;              
    margin: 5px 0;           
    background-color: var(--text-dark);
    transition: 0.4s;         
}

.motivation-text {
    color: #A35200;
    margin-top: 10px;
    font-weight: 600;
    min-height: 1.5em; 
    font-size: 1.2rem;
}


@media screen and (max-width: 768px){

    .dashboard-hero{
        text-align: center;
        padding: 30px 5%;
    }

    .stat-card{
        width: 100%;
        max-width: 400px;
        height: auto;
        min-height: 110px;
        transition: all 0.3s ease-in-out;
    }

    .chart-box{
        width: 100%;
        height: auto;
        min-height: 350px;
        padding: 15px;
        transition: all 0.3s ease-in-out;
    }

    .chart-display img{
        max-width: 100%;
    }


}

@media screen and (max-width: 480px) {

    
    .main-header {
        padding: 15px;
    }

    .hamburger{
        display: block;
    }

    .main-nav {
        position: fixed;
        top: 0;
        right: -100%; 
        width: 100%;
        height: 100vh;
        background-color: white;
        transition: 0.4s ease-in-out;
        z-index: 9;
    }

    .main-nav.active{
        right: 0;
    }

    .nav-list {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .nav-list li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #f0f0f0; 
        padding-bottom: 5px;
    }

    .hero-title{
        font-size: 1.75rem;
    }

    .hero-subtitle{
        font-size: 0.85rem;
    }

    .stats-container{
        width: 100%;
        height: auto;
        min-height: 110px;
        padding: 15px;
    }

    .card-number{
        font-size: 1.8rem;
    }

}